<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
  <div class="collapse navbar-collapse">
     <ul class="navbar-nav">
       <li><a class="nav-link" href="#" (click)="onClick('recipe')">Recipes</a></li>
       <li><a class="nav-link" href="#" (click)="onClick('shopping-list')">Shopping List</a></li>
     </ul>
    <ul class="navbar-nav navbar-right ms-auto">
      <li class="dropdown" appDropdown>
        <a href="#" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Save Data</a>
          <a class="dropdown-item" href="#">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
</nav>
